@tailwind base;
@tailwind components;
@tailwind utilities;

/*add own css classes below */

  @font-face {
    font-family: 'Ephesis';
    size-adjust: 200%;
    src: local('ephesis'), url(../fonts/Ephesis/Ephesis-Regular.ttf) format('truetype');
    font-weight: 900;
  }

  @font-face {
    font-family: 'Dancing-Script';
    size-adjust: 150%;
    src: local('dancing_script'), url(../fonts/Dancing-Script/DancingScript-VariableFont_wght.ttf) format('truetype');
    font-weight: 900;
  }

  @keyframes slideIn {
    from {
      transform: translateX(10%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in {
    animation: slideIn 1.0s ease-out forwards;
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .appear {
    animation: appear 1s ease-out forwards;
  }